

<div class="container">
	
	<div class="row"> <!-- 1 -->
		
		<div class="col-lg-7">
			<h1 class="sectionheader title">
				<%= @id["Title"] %>
			</h1>
			<h2>
				Release Date: <%= @id["Released"] %> <br>
				Director: <%= @id["Director"] %> <br>
				MPAA Rating: <%= @id["Rated"] %> <br>
			</h2>
			<h3>
				Runtime: <%= @id["Runtime"] %> <br>
				Genre: <%= @id["Genre"] %> <br>
			</h3>
			<h4>
				Starring:<br><%= @id["Actors"] %>
			</h4>
			<p>
				Plot Synopsis:<br><%= @id["Plot"] %>
			</p>
			<p> <!-- imdb site link -->
				<a href="http://www.imdb.com/title/<%= @id["imdbID"] %>">Click here to visit on imdb.com!</a>
			</p>
		</div> <!-- end col-lg-7 -->

		<div class="col-lg-5">
				<img src=<%=@id["Poster"]%> class="poster"></img>
		</div> <!-- end col-lg-5 -->

	</div> <!-- end row1 -->

  <div class="row"> <!-- 2 -->

		<div class="col-lg-12">
				<img src="http://www.userlogos.org/files/logos/jumpordie/rottentomatoes_03.png"></img>
				<hi class="sectionheader">
					Says...
				</h1>
		</div> <!-- end of col-lg-12 -->
	
	</div> <!-- end row2 -->

	<div class="row"> <!-- 3 -->
		<div class="col-lg-6">
			<h2>
				Score: <%= @id["tomatoMeter"] %>
			</h2>
		</div> <!-- end col-lg-6 -->

		<div class="col-lg-6">
			<h2>
				Review:
			</h2>
			<p>
				<%= @id["tomatoConsensus"] %>
			</p>
		</div> <!-- end col-lg-6 -->
	
	</div> <!-- end row3 -->



</div> <!-- end of container -->
